{{ define "main" }}

<div class="container">
  <div class="page-head">
    <h1 class="page-title">{{ .Title }}</h1>
    {{ if .Params.subtitle }}
    <p class="andriel-newsletter-subtitle">{{ .Params.subtitle }}</p>
    {{ end }}
  </div>

  {{ if .Params.image }}
  <div class="row">
    <div class="col col-12">
      <div class="page-image">
        <img class="lazy" data-src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" />
      </div>
    </div>
  </div>
  {{ end }}

  <div class="andriel-newsletter-content">{{ .Content }}</div>

  {{ if .PrevInSection }}
  <div class="andriel-newsletter__navigation">
    <a class="andriel-newsletter__prev" href="{{ .PrevInSection.Permalink }}">
      <div class="andriel-newsletter__box">
        <span class="andriel-newsletter__nav__info">Next List</span>
        <h2 class="andriel-newsletter__nav__title">
          {{ .PrevInSection.Title }}<i class="ion ion-md-arrow-round-forward arrow-right"></i>
        </h2>
      </div>
    </a>
  </div>
  {{ end }}
</div>

{{ end }}
