{{ if (not (isset .Site.Params "comments")) }}
{{ .Scratch.Set "enable_comments" false }}
{{ else if (isset .Params "comments") }}
{{ .Scratch.Set "enable_comments" .Params.comments }}
{{ else if (isset .Site.Params.Comments "enabled") }}
{{ .Scratch.Set "enable_comments" .Site.Params.Comments.Enabled }}
{{ else }}
{{ .Scratch.Set "enable_comments" true }}
{{ end }}

{{ $enable_comments := .Scratch.Get "enable_comments" }}
{{ if $enable_comments }}
{{ if (or (not (isset .Site.Params.Comments "engine")) (eq .Site.Params.Comments.Engine "disqus")) }}
<div class="blog-post-comments">
  <div id="cusdis_thread" data-host="https://cusdis.com" data-app-id="daed2877-b6a1-4dc4-bb01-f5fe4d9ed3f7"
    data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}" data-page-title="{{ .Title }}"></div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
</div>

{{ end }}
{{ end }}